h1{
    color:chartreuse;
}
button{
    background-color:rgb(1, 1, 1);    
}
p,h1,h4,h3{
    text-align: center;
}
a{
    color: gold
}
h3{
    color:chartreuse
}
.intro{
    color:rgb(0, 229, 255)
}
body{
    background-color: rgb(54, 67, 91);
}
button a{
    color:gold
}
#profits p u{
    color:lime
}
#fblink{
    background-image: url(/homeworks/GOA\ project/#fblink); /* Replace 'your-image.jpg' with the actual path to your image */
    background-size: cover;
    width: 100px; /* Set the width of the button */
    height: 100px; /* Set the height of the button */
    display: flex;
    align-items: center;
    cursor: pointer;
}
img{
    width: 100%;
    border-radius: 60%;
}
.languages1{
    width: 20%;
    float:left;
}
.languages2{
    float:right;
    width: 14%;
}